/*
  Color variables regular and hover
 */
$blue: #63D8FF;
$green: #1BE5A8;
/*$green-hover: rgba(27, 229, 168, 0.85);*/
$black: #23232D;
$red: #FF806C;
$gray: #919196;
$lightgray: #EBEBE6;
$white: #FFFFFF;


/*
  Fibonacci shortcuts for vw
 */
$f5: 0.260vw;
$f8: 0.416vw;
$f13: 0.677vw;
$f16: 0.833vw;
$f21: 1.093vw;
$f26: 1.354vw;
$f34: 1.770vw;
$f42: 2.187vw;
$f55: 2.864vw;
$f68: 3.541vw;
$f89: 4.635vw;
$f110: 5.729vw;
$f144: 7.5vw;
$f178: 9.270vw;
$f233: 12.135vw;
$f288: 15vw;

.btn {
  padding: $f8 $f16;
  border-width: 2px;
  border-style: solid;
  border-radius: $f26;
}

.btn-regular {
  border-color: $gray;
  &:hover {
    border-color: $green;
  }
}

.btn-white{
  color: $white;
  border-color: $white;
}

.btn-fill{
  text-transform: uppercase;
  font-family: ProximaNovaBold, sans-serif;
  border: none;
  font-size: $f21;
  padding: $f16 $f26;
  border-radius: 500px;
}

.btn-white-transition{
  color: #FFFFFF;
  background-color: rgba(255,255,255,0.15);
  &:hover{
    background-color: rgba(255,255,255,0.21);
  }
}

.btn-fill-lowblack-top{
  background-color: $lowblack;
  border-radius: $f21;
  padding: $f13 $f26;
  &:hover{
    background-color: $black-hover - 20;
  }

}

.btn-fill-green{
  color: #FFFFFF;
  background-color: $green;
  &:hover{
    background-color: $green + 10;
  }
}

.btn-fill-red{
  color: #FFFFFF;
  background-color: $red;
  &:hover{
    background-color: $red + 10;
  }
}

.btn-fill-blue{
  color: #FFFFFF;
  background-color: $blue;
  &:hover{
    background-color: $blue + 10;
  }
}

.btn-fill-facebook{
  color: #FFFFFF;
  background-color: $facebook;
  &:hover{
    background-color: $facebook + 10;
  }
}

.btn-fill-google{
  color: #FFFFFF;
  background-color: $google;
  &:hover{
    background-color: $google + 10;
  }
}

.btn-fill-grey{
  color: #a1a0a5;
  background-color: rgba(35,35,45,0.08);
  &:hover{
    background-color: rgba(35,35,45,0.12);
  }
}

.dropdown {
  color: $black;
  height: $f68;
  border: 1px solid $lightgray;
  font-family: ProximaNovaBold, sans-serif;
  font-size: $f21;
  option {
    font-family: ProximaNovaBold, sans-serif;
    padding: $f13 $f55;
    font-size: $f21;
    color: $black;
  }

}



.btn-red {
  text-transform: uppercase;
  font-family: ProximaNovaBold, sans-serif;
  color: $red;
  border-color: $red;
  text-decoration: none;
  &:hover {
    background-color: $red;
    color: $white;
  }
}
